html,
body {
  padding: 0;
  margin: 0;
  direction: ltr;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* user-select: #2e4e9a; */
}
::-moz-selection {
  /* Code for Firefox */
  /* color: red; */
  color: #fbbc05;
  background: #fff;
}

::selection {
  /* color: red; */
  color: #fbbc05;
  background: cyan;
}

img {
  user-select: none;
}
@font-face {
  font-family: "RalewayBlack";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/Raleway/Raleway-Black.ttf");
  src: url("/fonts/Raleway/Raleway-Black.ttf?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/Raleway/Raleway-Black.ttf") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/Raleway/Raleway-Black.ttf")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("/fonts/Raleway/Raleway-Black.ttf")
      format("truetype");
}

@font-face {
  font-family: "RalewayBold";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("/fonts/Raleway/Raleway-Bold.ttf");
  src: url("/fonts/Raleway/Raleway-Bold.ttf?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/Raleway/Raleway-Bold.ttf") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/Raleway/Raleway-Bold.ttf")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("/fonts/Raleway/Raleway-Bold.ttf")
      format("truetype");
}

@font-face {
  font-family: "RalewayMedium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Raleway/Raleway-Medium.ttf");
  src: url("/fonts/Raleway/Raleway-Medium.ttf?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/Raleway/Raleway-Medium.ttf") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/Raleway/Raleway-Medium.ttf")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("/fonts/Raleway/Raleway-Medium.ttf")
      format("truetype");
}

@font-face {
  font-family: "RalewayLight";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Raleway/Raleway-Light.ttf");
  src: url("/fonts/Raleway/Raleway-Light.ttf?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/Raleway/Raleway-Light.ttf") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/Raleway/Raleway-Light.ttf")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("/fonts/Raleway/Raleway-Light.ttf")
      format("truetype");
}

@font-face {
  font-family: "RalewayExtraLight";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/Raleway/Raleway-ExtraLight.ttf");
  src: url("/fonts/Raleway/Raleway-ExtraLight.ttf?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/Raleway/Raleway-ExtraLight.ttf") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/Raleway/Raleway-ExtraLight.ttf")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/fonts/Raleway/Raleway-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/Raleway/Raleway-Regular.ttf");
  src: url("/fonts/Raleway/Raleway-Regular.ttf?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/Raleway/Raleway-Regular.ttf") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("/fonts/Raleway/Raleway-Regular.ttf")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
}
@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 80px;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: -65px;
}
.bgMiddle {
  z-index: 10;
  opacity: 1;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 200px;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite alternate;
}
.waveBottom {
  background-size: 50% 100px;
}
