.container {
  border-radius: 8px;
  border-bottom: 2px solid #637a79;
  background: #7b9694;
  width: 100px;
  outline: none;
  border: none;
  padding: 10px 15px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container p {
  margin: 0;
  color: #fff;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dropDownPosition {
  position: relative;
}
.dropDownContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 170px;
  height: auto;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  position: absolute;
  top: 10px;
  left: -50px;
  padding: 10px 10px;
  z-index: 999;
  transform-origin: top center;
  animation: translateZ 300ms ease-in-out forwards;
}
.Items {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  font-family: "Raleway";
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  color: rgba(0, 0, 0, 0.7) !important;
  cursor: pointer;
  padding: 10px 5px 10px 10px !important;
  transition: 0.3s all ease-in-out;
}
.Items:hover {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  font-family: "Raleway";
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  color: rgba(0, 0, 0, 0.7) !important;
  cursor: pointer;
  padding: 10px 5px 10px 5px !important;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.3s all ease-in-out;
}
