.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.search {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  position: relative;
  display: inline-block;
  min-width: 0;
  padding: 0.7em;
  color: #cccccc;
  font-size: 14px;
  line-height: 1.5715;
  color: #000000d9;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
  border-radius: 6px;
  font-family: "Raleway";
  width: 100%;
  outline: none;
}
.search:focus {
  outline: none !important;
  border: 1px solid #40a9ff;
  box-shadow: 0 0 2px #40a9ff;
}
